{% extends "base/base.html" %}

{% load static %}

{% block title %}Pagina Index{% endblock title %}

{% block styles %}
    <style>



        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            max-width: 400px;
            word-wrap: break-word;
        }

        tr:nth-child(even) {
            background-color: #e1e1e1
        }

        td:nth-child(4) {
            text-align: justify;
        }

        th {
            color: rgb(255, 255, 255);
        }

        .bdtable {
            border: 2px solid #b4b4b4;
            border-radius: 15px;
            box-shadow: 0px 1px;
            margin-left: 100px;
            margin-right: 100px;
  
        }
        .punto {
            margin-right: 100px;
        }
        
        #myInput {
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 45%;
            font-size: 16px;
            padding: 12px 10px 12px 40px;
            border: 1px solid #ddd;
            margin-left: 12%;
            border-radius: 10px;
            margin-bottom: 20px;
          }
          
          .flex-container {
            display: flex;
            align-items: stretch;
            }

            .flex-container > div {
                margin: 10px;
                text-align: center;
                line-height: 20px;
                font-size: 15px;
            }

            .overlay { 
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                transition: opacity 500ms;
                visibility: hidden;
                opacity: 0;
            }

            .overlay:target{
                visibility: visible;
                opacity: 1;
            }

            #popupBody {
            width: 60%;
            max-height: 80vh;
            overflow-y: auto; 
            padding: 2%;
            border-radius: 15px;
            box-shadow: 0 0 5px #CCC;
            background: #FFF;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 5s ease-in-out;
        }




            #cerrar{
                position: absolute;
                top: 20px;
                right: 30px;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #F00;
                transition: all 100ms;
            }



    tr.header {
        background-color: #235B4E;
        color: white;
    }





    </style>
    {% endblock styles %}
    
{% block content %}
<!-- <section class="grow bg-gray-50 dark:bg-gray-900"> -->
    <br><br><br>


        <div class="bdtable bg-inm-marron-100  ">

            <!-- <div id="popup" class="overlay">
                <div id="popupBody">
                    <a href="" id="cerrar">&times;</a>
                    <div class="popupContent">
                        <p>holaaa</p>
                    </div>
                </div>
            </div> -->


            <table id="myTable">
                <tr class="header">
                    <th class="text-center">Fecha Inicio</th>
                    <th class="text-center">Fecha Término</th>
                    <th class="text-center">Rubro</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Área</th>
                    <th class="text-center">Estatus</th>
                </tr>
            
                {% for registro, diferencia in registrosConFechas %}
            
                <tr>
                    <td>{{ registro.0.fecha_inicio|date:"d-m-Y" }}</td>
                    <td>{{ registro.0.fecha_termino|date:"d-m-Y" }}</td>
                    <td>
                        {% for rubro in registro.0.rubro.all %}
                        {{ rubro.tipo }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <!-- <td>
                        {% for accion in registro.0.accionR.all %}
                        {{ accion.descripcion }}
                        <div class="text-right">
                            <a href="#popup" class=" text-inm-rojo-200 hover:text-inm-marron-200 font-bold ml-2">Ver más</a></div> 
                        </div>
                        
                        {% endfor %}
                    </td> -->
                    <td>
                        {% for accion in registro.0.accionR.all %}
                            {{ accion.descripcion }}
                            <div class="text-right">
                                <a href="#popup{{ accion.idAccion }}{{ pruebas.idPruebas }}" class="text-inm-rojo-200 hover:text-inm-marron-200 font-bold ml-2">Ver más</a>
                            </div>

                            <div id="popup{{ accion.idAccion }}{{ pruebas.idPruebas }}" class="overlay">
                                <div id="popupBody">
                                    <a href="" id="cerrar">&times;</a>
                                    <div class="popupContent">
                                        <u><p>Área 1:</p></u>
                                        <ul>
                                            {% for area1 in accion.area1.all %}
                                                <li>{{ area1.nickname }}</li>
                                            {% endfor %}
                                        </ul>
                                        <u><p>Área 2:</p></u>
                                        <ul>
                                            {% for area2 in accion.area2.all %}
                                                <li>{{ area2.nickname }}</li>
                                            {% endfor %}
                                        </ul>
                                        <u><p>Descripción:</p></u>
                                        {{ accion.descripcion }}
                                        <u><p>URL de la imagen:</p></u>
                                        {% for prueba in pruebas.archivo_url.all %}
                                        <img src="{% static 'imgs/' %}{{ prueba.archivo_url }}" alt="Imagen de prueba">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for area in registro.0.area.all %}
                        {{ area.nickname }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if registro.0.estado == '1' %}
                            {% if diferencia >= 60 %}
                                <div class="text-center py-2" style="background-color: green; color: white; border-radius: 5px;">
                                    <span>{{ registro.0.get_estado_display }}</span>
                                </div>
                            {% elif diferencia >= 30 %}
                                <div class="text-center py-2" style="background-color: rgb(255, 255, 11); color: rgb(0, 0, 0); border-radius: 5px;">
                                    <span>{{ registro.0.get_estado_display }}</span>
                                </div>            
                            {% elif diferencia >= 15 %}
                                <div class="text-center py-2" style="background-color: red; color: white; border-radius: 5px;">
                                    <span>{{ registro.0.get_estado_display }}</span>
                                </div>
                            {% else %}
                                <div class="text-center py-2" style="background-color: darkred; color: white; border-radius: 5px;">
                                    <span>{{ registro.0.get_estado_display }}</span>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-center py-2" style="background-color: green; color: white; border-radius: 5px;">
                                <span >{{ registro.0.get_estado_display }}</span>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            
            
            
        </div>
        <br><br><br>



{% endblock content %}