{% extends "base/base.html" %}

{% load static %}

{% block title %}Editar Registro{% endblock title %}

{% block styles %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F2DEDB;
            color: #000000;
        }

        .form-container {
            background-color: #235B4E;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 50px auto;
        }

        .form-title {
            color: #DDC9A3;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
            
        }

        .form-group label {
            display: block;
            margin-bottom: 8px;
            color: #DDC9A3;
            font-weight: bold;
            
        }

        .form-input {
            width: 100%;
            padding: 12px;
            border: 2px solid #DDC9A3;
            border-radius: 15px;
            font-size: 16px;
            color: #000000;
            background-color: #FFFFFF;
        }

        .form-button {
            color: #ffffff;
            border: none;
            padding: 15px 30px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
            display: block;
            width: 100%;
            text-align: center;
        }

        .form-button:hover {
            background-color: #691C32;
        }













        .container {
        width: 50%;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #f2eddf;
        background-color: #235B4E;
        opacity: 0.90;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .container h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(255, 255, 255);
    }

    label {
        color: white;
    }

    input[type="text"], input[type="date"], select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        background-color: white;
    }


    .ui-datepicker {
        font-family: Arial, sans-serif;
        font-size: 14px;
        background-color: white; /* Cambiar el fondo a blanco */
        border: 1px solid #ccc; /* Agregar un borde */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombra */
    }

    .ui-datepicker-header {
        background-color: #235B4E;
        border: none;
        color: white;
    }

    .ui-datepicker-title {
        color: white;
    }

    .ui-datepicker-calendar td {
        padding: 5px;
    }

    .ui-datepicker-calendar td a {
        color: black;
        text-decoration: none;
    }

    .ui-datepicker-calendar td a:hover {
        background-color: #d2e8d4;
    }

    .ui-datepicker-close {
        background-color: #235B4E;
        color: white;
        border: none;
        padding: 5px 10px;
        margin-top: 5px;
        cursor: pointer;
    }

    .ui-datepicker-close:hover {
        background-color: #1a4331;
    }

    .ui-datepicker-prev {
        cursor: pointer;
        margin-right: 40%;
    }

    .ui-datepicker-next {
        cursor: pointer;
    }


    input[type="date"]::-webkit-datetime-edit {
        color: black;
    }

    </style>
{% endblock styles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>

{% block content %}
{% if user.is_authenticated %}
    <div class="form-container">
        <h2 class="form-title">Editar Registro</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ registro_form.as_p }}
            </div>
            <div class="form-group">
                {{ accion_form.as_p }}
            </div>

            
            <button type="submit" class="form-button bg-inm-rojo-200">Guardar Cambios</button>
        </form>
    </div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {
        $("#id_fecha_inicio").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            firstDay: 1,
            prevText: 'Anterior',
            nextText: 'Siguiente',
            currentText: 'Hoy',
            closeText: 'Cerrar',
            showButtonPanel: false,
            buttonText: 'Seleccionar fecha',
            showAnim: 'slideDown',
            showOtherMonths: true, 
            selectOtherMonths: true 
        });

        $("#id_fecha_termino").datepicker({
            dateFormat: 'dd/mm/yy', 
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            prevText: 'Anterior',
            nextText: 'Siguiente',
            currentText: 'Hoy',
            closeText: 'Cerrar',
            showButtonPanel: false,
            buttonText: 'Seleccionar fecha',
            showAnim: 'slideDown',
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });
</script>
{% endblock content %}
